header {
    display: flex;
    justify-content: center;
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-left: 50px;
    margin-top: 50px;
}

.header-container {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
}

.head-title {
    color: #fff;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 140px;
}

.head-bannar {
    margin-left: 350px;
    width: 632px;
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}